@import "_reset";
@import "fonts";
@import "_helpers";

$color-primary: #3e9cdc;
$color-light: #ffffff;
$color-dark: #000000;
$color-primary-accent: #286690;
@import "_range";

body {
  font-family: Lato;
  font-size: 16px;
  color: $color-light;
  font-weight: normal;
  user-select: none;
  -webkit-user-drag: none;

  width: 100vw;
  overflow-x: hidden;
  background: #000000;
  max-width: 1920px;
  margin: 0 auto;
}
.page {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: $color-dark;

  &._lock {
    overflow: hidden;
    position: relative;
    height: 100vh !important;

    &::after {
      content: "";
      position: absolute;
      z-index: 4;
      top: 0%;
      left: 0%;
      width: 100vw;
      height: 300vh;
      background: rgba(0, 0, 0, 0.94);
    }
  }
}
.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  @include smallerthan(768px) {
    padding: 15px;
  }
}

.--blue {
  color: $color-primary;
}

/* -----------------header------------------- */
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: rgba(16, 16, 29, 0.9);

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    margin-right: 50px;
    @include biggerthan(1240px) {
      font-size: 28px;
    }
    @include adaptiv-font(28, 18);
  }

  &__items {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin: auto 0 auto auto;
    @include smallerthan(960px) {
      flex-direction: column;
      gap: 30px;
      text-align: end;
    }
    &-item {
      display: block;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        transition: 0.3s ease;
        color: $color-primary;
      }
    }

    @include smallerthan(960px) {
      position: fixed;
      z-index: 4;
      top: 75px;
      width: 80%;
      height: auto;
      margin: 20px auto 0;
      padding: 50px 30px 30px 30px;
      transition: left 0.3s ease;
      overflow: auto;
      right: 8%;
      transition: 0.3s ease;
      opacity: 0;
      user-select: none;
      visibility: hidden;

      &._active {
        right: 0%;
        top: 80px;
        background: linear-gradient(
          180deg,
          rgba(109, 169, 238, 0.2) 0%,
          rgba(37, 33, 90, 0.52) 45.21%,
          rgba(3, 3, 9, 0.98) 58.65%,
          rgba(0, 0, 0, 0.83) 100%,
          rgba(0, 0, 0, 0.98) 100%
        );
        width: 100%;
        height: 100vh;
        opacity: 1;
        transition: 0.3s ease;
        user-select: auto;
        visibility: visible;
      }
    }
  }

  & .menu-icon {
    display: none;

    @include smallerthan(960px) {
      display: block;
      position: relative;
      right: 0;
      margin: 0 0 0 auto;
      cursor: pointer;
      z-index: 5;
      width: 35px;
      height: 18px;

      &::before,
      &:after,
      & > span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: 0.3s ease;
        background-color: $color-light;
      }

      &:before {
        content: "";
        top: 0;
      }

      &:after {
        content: "";
        bottom: 0;
      }

      & > span {
        display: inline-block;
        top: 50%;
        transform: translate(0px, -50%);
      }

      &._active {
        & > span {
          transform: scale(0) translate(0px, -50%);
        }

        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
  }
}

/* -------------promo-------------- */

.promo {
  background-image: url("@img/main.webp");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include smallerthan(768px) {
    background-image: url("@img/main-mob.webp");
    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: rgba(253, 253, 253, 0.7);
    }
  }

  &__block {
    margin-top: 100px;
    width: 100%;
    max-width: 780px;
    color: $color-dark;
    padding: 100px 0 200px 0;
    position: relative;
    z-index: 1;

    &-title {
      color: $color-dark;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-transform: uppercase;
      @include smallerthan(1024px) {
        @include adaptiv-font(48, 20);
      }
    }
  }

  &__list {
    margin-top: 80px;
    position: relative;
    z-index: 1;

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $color-dark;
      padding-bottom: 10px;
    }
    &-list {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $color-dark;
      &-item {
        list-style: inside;
        list-style-type: " - ";
      }
    }
  }

  &__btns {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 1;
    @include smallerthan(768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

/* ==============form--------------- */

.form {
  background-color: #272733;
  background-image: url("@img/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-title {
    width: 100%;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
    padding: 60px 0 30px;
  }

  &-subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #bbbbbb;
  }

  &-icons {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include smallerthan(1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include smallerthan(768px) {
      grid-gap: 15px;
    }
    @include smallerthan(419px) {
      grid-template-columns: 1fr;
    }
    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      & .icon {
        width: 55px;
        height: 55px;

        &-background {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background-color: $color-primary;
          border-radius: 50%;
          border: 5px solid $color-primary-accent;
        }
      }
      & .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $color-light;
        padding: 42px 10px 20px;
      }
    }
  }

  & .data {
    margin-top: 80px;
    padding-bottom: 100px;

    display: grid;
    grid-template-areas:
      "s s e e n n"
      "r r r r f f"
      ". . b b . .";
    grid-gap: 30px;
    @include smallerthan(768px) {
      grid-template-areas:
        "s s"
        "e e"
        "n n"
        "r r"
        "f f"
        "b b";
    }

    & input:not([type="range"]),
    select {
      padding: 10px;
      width: 100%;
      max-width: 370px;
      height: 48px;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #ffffff;
      border-radius: 3px;
      @include smallerthan(768px) {
        max-width: 100%;
      }
    }

    & .system {
      grid-area: s;
      color: yellow;
    }
    & .email {
      grid-area: e;
    }
    & .name {
      grid-area: n;
    }
    & .range {
      grid-area: r;
      &-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      & input {
        max-width: unset;
      }
    }
    & .upload {
      grid-area: f;

      & .label-file {
        cursor: pointer;

        height: 48px;
        background: $color-light;
        border: 2px solid #3e9cdc;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #272733;
      }

      & .input-file {
        opacity: 0;
        width: 0;
        position: absolute;
        z-index: -1;
      }
    }
    & .submit {
      grid-area: b;
      width: 100%;
    }
  }
}

/* -------------common---------------- */
.btn {
  width: 183px;
  height: 43px;
  background: $color-primary;
  border: 1px solid $color-light;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-light;
  transition: 0.3s ease;
  &:hover {
    transition: 0.3s ease;
    background: $color-primary-accent;
  }
  &_light {
    color: $color-dark;
    background: $color-light;
    border: 1px solid $color-dark;
    &:hover {
      color: $color-light;
      border: 1px solid $color-light;
    }
  }
}

.dot {
  width: 6px;
  height: 6px;
  background: #c4c4c4;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 3s ease;
}
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

.custom-select {
  position: relative;

  ::-webkit-scrollbar {
    width: 7px;
    background: #3d4050;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track {
    width: 7px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    outline: 1px solid $color-primary-accent;
    width: 7px;
    border-radius: 3px;
  }
}
.select-css {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 10;
  transition: 0.3s ease;
  &._opened {
    background: rgba(61, 64, 80, 0.85) !important;
    border-radius: 3px 3px 0px 0px !important;
    transition: 0.3s ease;
    &::placeholder {
      color: $color-light;
    }
  }
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  color: #222;
  outline: none;
}
.custom-select-icons {
  position: absolute;
  top: 0%;
  right: 1px;
  z-index: 20;
  pointer-events: none;
  width: auto;
  height: 100%;
  background: transparent;
  cursor: pointer !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  & svg {
    fill: $color-dark;
    height: 20px;
    width: 20px;
    transition: 0.3s ease;
  }

  &._opened {
    & svg {
      transition: 0.3s ease;
      transform: rotate(180deg);
      & path {
        fill: $color-light;
      }
    }
  }
}
.custom-select-options {
  margin: 0;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: calc(100% - 1px);
  overflow-y: scroll;
  max-width: 370px;
  height: 180px;
  background: rgba(39, 39, 51, 0.9);
  border: 1px solid #3d4050;
  border-radius: 3px;
}
.custom-select-options li {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* or 189% */
  color: $color-light;
  transition: 0.3s ease;
  padding: 10px;
  & strong {
    font-weight: 400;
  }
}
.custom-select-options li:hover {
  transition: 0.3s ease;
  color: $color-primary;
}

.custom-select-options li:focus {
  color: $color-primary-accent;
}
.icon {
  fill: ButtonText;
  pointer-events: none;
}
@media screen and (-ms-high-contrast: active) {
  .icon {
    fill: ButtonText;
  }
}
.hidden-all {
  display: none;
}
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.footer {
  max-width: 1920px;
  min-height: 80px;
  height: fit-content;
  background: #3d4050;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  &-container {
    
    padding: 30px 0;
    display: grid;
    grid-template-columns: minmax(100px, 347px) 1fr minmax(100px, 347px);
    grid-template-rows: 1fr;

    @include smallerthan(880px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
   
  }

  &__license {
    height: 100%;
    border-right: 1px solid $color-light;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include smallerthan(880px) {
      text-align: center;
      justify-content: center;
      padding: 20px 0;
      order: 3;
    }
  }
  &__pay, &__contacts {
    height: 100%;
    border-right: 1px solid $color-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #C3C3C3;
    gap: 38px;
    padding: 0 20px;
    flex-wrap: wrap;
    @include smallerthan(1000px) {
      flex-direction: column;
    }
    @include smallerthan(880px) {
      padding: 20px 0;
    }

    & a {
      display: flex;
      align-items: center;
      color: #C3C3C3;
      text-decoration: none;
      gap: 10px;
      &:visited {
        color: $color-primary;
      }
      
    }
  }
  &__contacts {
   border-right: none;
  }
}
